@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap');

.capabilities {
	width: min(60rem, 90%);
	margin-inline: auto;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2rem;

	list-style: none;
	counter-reset: stepnr;
}

.li:nth-child(6n + 1) {
	/* --accent-color: #b8df4e; */
	--accent-color: #7c7c7c;
}
.li:nth-child(6n + 2) {
	/* --accent-color: #4cbccb; */
	--accent-color: #7c7c7c;
}
.li:nth-child(6n + 3) {
	/* --accent-color: #7197d3; */
	--accent-color: #7c7c7c;
}
.li:nth-child(6n + 4) {
	/* --accent-color: #ae78cb; */
	--accent-color: #7c7c7c;
}
.li:nth-child(6n + 5) {
	/* --accent-color: #7dc7a4; */
	--accent-color: #7c7c7c;
}
.li:nth-child(6n + 6) {
	/* --accent-color: #f078c2; */
	--accent-color: #7c7c7c;
}

.capabilities .li {
	/* counter-increment: stepnr; */
	position: relative;
	width: 10rem;
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	border: 15px solid #e3e3e3;
	border-radius: 50%;
	/* box-shadow: 0 0 15px 5px #7c7c7c; */
	transition: 1s;
	background: #000;
}

.capabilities .li .title {
	font-size: 1rem;
	font-weight: 500;
	color: #fff;
}

.rating {
	position: absolute;
	padding-top: 13.5rem;
	color: var(--accent-color);
	padding-left: 0.4rem;
	font-size: 2rem;
	font-weight: 700;
	transition: 1s;
}

.capabilities .li:hover {
	background: #fff;
	border: 15px solid #e72c48;
}

.capabilities .li:hover .title {
	font-size: 1rem;
	font-weight: 500;
	color: #000;
}

.capabilities .li:hover .rating {
	position: absolute;
	padding-top: 13.5rem;
	color: #e72c48;
	padding-left: 0.4rem;
	font-size: 2rem;
	font-weight: 700;
}

.capabilities .li::before,
.capabilities .li::after {
	inset: 0;
	position: absolute;
	border-radius: 50%;
	border: var(--borderS) solid var(--bgColor);
	line-height: 1.1;
}
/* .capabilities .li::before {
	content: counter(stepnr);
	color: var(--accent-color);
	padding-top: 6rem;
	padding-left: 2.5rem;
	font-size: 5rem;
	font-weight: 700;
} */

.capabilities .li::after {
	content: '';
}

.capabilities .li .icon {
	font-size: 1.5rem;
	color: var(--accent-color);
	text-align: center;
}

@media (max-width: 768px) {
	.capabilities .li {
		/* counter-increment: stepnr; */
		position: relative;
		margin-bottom: 2.5rem;
		width: 8rem;
		aspect-ratio: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		border: 12px solid #e3e3e3;
		border-radius: 50%;
		/* box-shadow: 0 0 15px 5px #7c7c7c; */
		transition: 0.3s;
		background: #000;
	}
	.capabilities .li:hover {
		background: #fff;
		border: 12px solid #e72c48;
	}

	.rating {
		position: absolute;
		padding-top: 12rem;
		color: var(--accent-color);
		padding-left: 0.4rem;
		font-size: 2rem;
		font-weight: 700;
	}
	.capabilities .li:hover .rating {
		position: absolute;
		padding-top: 12rem;
		color: #e72c48;
		padding-left: 0.4rem;
		font-size: 2rem;
		font-weight: 700;
	}
}
